{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mode édition</h1>

    {{ form_start(edit_form) }}

        {{ form_widget(edit_form) }}

        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#jf_blogbundle_blog_content'
        });
    </script>

    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
