{% extends 'base.html.twig' %}

{% block body %}
    <h1>Derniers épisodes</h1>

        {% for blog in blogs %}
            <div class="container-fluid post_container">
                <table>
                <tr>
                    <td>
                        <h2>
                            {% if blog.date %}{{ blog.date|date('d-m-Y H:i:s') }}
                            {% endif %}
                        </h2>
                    </td>
                    <td>
                        <h2>
                            {{ blog.title }}
                        </h2>
                    </td>
                    <td>

                            <a href="{{ path('blog_show', { 'id': blog.id }) }}">Lire</a><br/>

                            <a href="{{ path('blog_edit', { 'id': blog.id }) }}">Modifier</a>

                </td>
                </tr>
                <tr>
                    <td>
                    <td>
                        {{ blog.content }}
                    </td>
                    </td>
                
                

                </tr>
                </table>
            </div>
        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('blog_new') }}">Créer un nouvel épisode</a>
        </li>
    </ul>
{% endblock %}
