{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if blog.date %}{{ blog.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ blog.title }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ blog.content | raw }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('blog_edit', { 'id': blog.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
